body {
  background-color: #131921;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  display: grid;
  max-height: 150px;
  border-radius: 10px;
  transition: all 0.2s;
  grid-template-rows: 20px 50px 1fr 50px;
  box-shadow: 0px 6px 10px rgba(74, 70, 74, 0.414);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.readMore,
.close,
.card div.card_div {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card div ul {
  display: flex;
  list-style: none;
}

.card div ul li {
  margin: 0 0.3rem;
  font-size: 1.1rem;
}

.desc {
  color: rgb(66, 59, 59);
}

.readMore::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.6);
}

.readMore:hover {
  color: #fff;
}

.readMore:hover::after {
  width: 100%;
}

.card div {
  grid-row: 3/3;
}

.read-more {
  grid-row: 5/5;
  align-self: center;
}

.card:nth-child(1n) {
  background: #3fbafe;
}

.card:nth-child(2n) {
  background:#f7a976;
}

.card:nth-child(3n) {
  background:#b69efe;
}

.card:nth-child(4n) {
  background: #60efbc;
}

.card:nth-child(5n) {
  background: #f588d8;
}


@media (max-width: 1600px) {
  .cards {
      justify-content: center;
  }
}

.float-container {
  margin-top: 15px
}

.float-child {
  float: left;
}  

.logo {
  cursor: pointer;
}

.loading-icon {
  font-size: 50px;
  text-align: center;
  margin-top: 15%;
}

.submit_btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}


.input_asin_number {
  display: block;
  width: 20%;
  padding: 6px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;  
}

.product_review_link {
  color: #fff;
}